* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.grid {
    width: 100%;
    display: block;
    padding: 0;
}

.grid.wide {
    max-width: 1400px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: 5%;
    margin-right: 5%;
}

.col {
    padding: 32px 24px;
}

.c-2-4 {
    flex: 0 0 20%;
    max-width: 20%;
}

.c-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
}

@media (min-width: 1000px) and (max-width: 1399px) {

    .footer__wide,
    .footer__content {
        width: 900px;
    }
}

@media (min-width: 820px) and (max-width: 1000px) {
    .grid.wide {
        max-width: 800px;
    }

    .l-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .card {
        height: 32vw;
    }

    .footer__wide,
    .footer__content {
        width: 740px;
    }
}

@media (min-width: 680px) and (max-width: 820px) {
    .grid.wide {
        max-width: 700px;
    }

    .l-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .card {
        height: 40vw;
    }

    .footer__wide,
    .footer__content {
        width: 640px;
    }

}


@media (min-width: 620px) and (max-width: 679px) {
    .grid.wide {
        max-width: 600px;
    }

    .m-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .m-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .card {
        height: 40vh;
    }

    .icon-button {
        margin: 12px 0;
    }

    .footer__wide {
        width: 500px;
    }

    .footer__content {
        width: 500px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0 12px;
    }

    .footer__content span {
        margin: 4px 0;
    }

    .header {
        overflow: unset;
    }

    .header__menu,
    .header__close-icon {
        display: block !important;
        font-size: clamp(2.4rem, 2.69vw, 3.2rem);
        color: #fff;
        padding: 18px 24px;
    }

    .header__menu {
        float: right;
    }

    .header__close-icon {
        width: 100px;
    }

    .header__close-icon:hover {
        background-color: #45567d;

    }

    .header__content {
        transform: translateX(100%);
        flex-direction: column;
        justify-content: start;
        top: 0;
        right: 0;
        position: absolute;
        background-color: #be3144;
        width: 56%;
        text-align: center;
        height: 100vh;
        z-index: 2;
        transition: transform 0.3s ease;
    }
}

@media (min-width: 420px) and (max-width: 619px) {
    .grid.wide {
        max-width: 400px;
    }

    .footer__wide {
        width: 400px;
    }

    .footer__content {
        width: 400px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0 12px;
    }

    .footer__content span {
        margin: 4px 0;
    }
    
    .s-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .m-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .card {
        height: 30vh;
    }

    .icon-button {
        margin: 12px 0;
    }

    .header {
        overflow: unset;
    }

    .header__menu,
    .header__close-icon {
        display: block !important;
        font-size: clamp(2.4rem, 2.69vw, 3.2rem);
        color: #fff;
        padding: 18px 24px;
    }

    .header__menu {
        float: right;
    }

    .header__close-icon {
        width: 100px;
    }

    .header__close-icon:hover {
        background-color: #45567d;

    }

    .header__content {
        transform: translateX(100%);
        flex-direction: column;
        justify-content: start;
        top: 0;
        right: 0;
        position: absolute;
        background-color: #be3144;
        width: 52%;
        text-align: center;
        height: 100vh;
        z-index: 2;
        transition: transform 0.3s ease;
    }
}

@media (min-width: 320px) and (max-width: 419px) {
    .grid.wide {
        max-width: 300px;
    }

    .footer__wide {
        width: 300px;
    }

    .footer__content {
        width: 300px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0 12px;
    }

    .footer__content span {
        margin: 4px 0;
    }
    
    .s-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .m-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .card {
        height: 20vh;
    }

    .icon-button {
        margin: 12px 0;
    }

    .header {
        overflow: unset;
    }

    .header__menu,
    .header__close-icon {
        display: block !important;
        font-size: clamp(2.4rem, 2.69vw, 3.2rem);
        color: #fff;
        padding: 18px 24px;
    }

    .header__menu {
        float: right;
    }

    .header__close-icon {
        width: 100px;
    }

    .header__close-icon:hover {
        background-color: #45567d;

    }

    .header__content {
        transform: translateX(100%);
        flex-direction: column;
        justify-content: start;
        top: 0;
        right: 0;
        position: absolute;
        background-color: #be3144;
        width: 52%;
        text-align: center;
        height: 100vh;
        z-index: 2;
        transition: transform 0.3s ease;
    }
}

@media (max-width: 319px) {
    .grid.wide {
        max-width: 260px;
    }

    .footer__wide {
        width: 260px;
    }

    .footer__content {
        width: 260px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0 12px;
    }

    .footer__content span {
        margin: 4px 0;
    }
    .project__name h3 {
        font-size: 1rem;
    }
    .s-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .m-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .card {
        height: 10vh;
    }

    .icon-button {
        margin: 12px 0;
    }

    .header {
        overflow: unset;
    }

    .header__menu,
    .header__close-icon {
        display: block !important;
        font-size: clamp(2.4rem, 2.69vw, 3.2rem);
        color: #fff;
        padding: 18px 24px;
    }

    .header__menu {
        float: right;
    }

    .header__close-icon {
        width: 100px;
    }

    .header__close-icon:hover {
        background-color: #45567d;

    }

    .header__content {
        transform: translateX(100%);
        flex-direction: column;
        justify-content: start;
        top: 0;
        right: 0;
        position: absolute;
        background-color: #be3144;
        width: 60%;
        text-align: center;
        height: 100vh;
        z-index: 2;
        transition: transform 0.3s ease;
    }
}