body {
    font-family: 'Be Vietnam Pro', sans-serif;
    font-family: 'Inconsolata', monospace;
    font-family: 'Poppins', sans-serif;
}

.header {
    background-color: #be3144;
    display: flex;
    justify-content: end;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.header__content {
    display: flex !important;
    list-style: none;
    justify-content: flex-end;
}

.header__content li {
    font-size: clamp(1.6rem, 1.85vw, 2rem);
    color: #fff;
    font-weight: 500;
    display: block;
    padding: 18px 32px;
    cursor: pointer;
}

.header__content li:hover {
    background-color: #45567d;
}

.header__menu,
.header__close-icon {
    display: none !important;
}

.reference {
    background: linear-gradient(to top right, #393c3f, #1a191b);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.reference h1 {
    color: white;
    text-align: center;
    font-size: clamp(2.4rem, 5.05vw, 6rem);
    padding: 0 12px;
}

.reference h3 {
    font-size: clamp(1.8rem, 2.53vw, 3rem);
    color: #b03144;
    font-weight: 300;
    font-style: italic;
    padding: 0 12px;
}

.projects {
    background-color: #45567d;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.title {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #fff;
    width: 54%;
}

.title h1 {
    font-size: clamp(2rem, 3.37vw, 4rem);
    color: #fff;
    position: relative;
}